* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: 'Montserrat', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
  height: 100%;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: 'Montserrat';
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  font-size: 30px;
  margin-left: 50px;
}

/** =======================
   * SALAS 
   ===========================*/



.accordion {
  width: 100%;
  width: 360px;
  /* margin: 30px auto 20px 20px; */
  /* margin-left: 20%; */
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px;
}

.report_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teste {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}



.testePrimeiraSecao,
.testeSegundaSecao {
  display: flex;
  flex-direction: column;
  gap: 20px;

}


.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #064A8C;
}

.accordion li.open i {
  color: #064A8C;
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
   * Submenu da sala
   -----------------------------*/


.submenu {
  display: none;
  background: white;
  font-size: 14px;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #064A8C;
  color: #FFF;
}


/** =======================
   * PERIODO
   ===========================*/

.periodo {
  width: 100%;
  max-width: 360px;
  /* margin: 30px auto 20px 20px; */
  /* margin-left: 20%; */
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px;
}


.periodo .periodo_report {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.periodo li:last-child .link {
  border-bottom: 0;
}
.filter-relatorio{
  display: flex;
  align-items: end;
  justify-content: end;
}
.btn-filter{
  display: flex;
  margin-top: 20px;
  
}

.limpar-filtros{
  width: 127px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #000;
  background: #FFF;
  color: #1270B0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; 
}
.filtros{
  width: 127px;
  height: 41px;
  color: #FFF;
  background-color: #064A8C;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;


}
.periodo li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.periodo li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.periodo li.open .link {
  color: #064A8C;
}

.periodo li.open i {
  color: #064A8C;
}

.periodo li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
   * Submenu do periodo
   -----------------------------*/

.submenu_report {
  display: none;
  background: white;
  font-size: 14px;
}

.submenu_report li {
  border-bottom: 1px solid #4b4a5e;
}

.submenu_report a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu_report a:hover {
  background: #064A8C;
  color: #FFF;
}

/* DATAS */



.input-container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.input-container label {
  margin-right: 10px;
}


.data_inicial {
  display: flex;
  margin-top: 10px;
  padding: 20px;
  width: 240px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  gap: 20%;

}

.data_final {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
  margin-left: 11px;
  padding: 20px;
  width: 240px;
  height: 48px;
  border-radius: 5px;
  gap: 20%;

}

.grafico_conf {
  margin-top: 10px;
  width: 50%;
  margin-bottom: -28%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: end;
 
 
}
.grafico_qtd{
  width: 50%;
  margin-left: 49%;

  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

canvas {
  max-width: 100%; 
  height: auto;
}

.card_grafic{
  margin-top: 10px;
  width: 750px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 15px;
  background: rgba(217, 217, 217, 0.20);

}
button.btn-relatorio{
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  border: 3px solid #609437;
  background: #609437;
  color: #f3f3f3;
  margin-top: 100px;
}
.area-botao{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

